#perrito{
    margin: 15px 0;
    transform: rotate(45deg);
}
#erizo{
    cursor: pointer;
    transition: all ease 2s;
}
#erizo:hover{
    transform: scale(2,2);
    margin: 50px 0 50px 100px;
    border-radius: 50%;
}
#jirafita{
    cursor: pointer;
    transition: all ease-in-out 2s;
}
#jirafita:hover{
    transform: rotate(180deg);
}